* {
	padding: 0 auto;
  margin: 0 auto;
}

.container{
  display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    width: 100%;
    height: auto;
    
  }

  body {
    display: flex;
    min-height: auto; 
    flex-direction: column;
    background-color:#fff;
    background-repeat: no-repeat;
  }
    
 
  
  header .logo img {
      display:block;
      margin:auto;
  }

  body {
    display: flex;
    height: 95%; 
    flex-direction: column;
    background-image: url(img/bg.jpg);
    background-repeat:repeat;

  }
  header{
    width: 100%;
    height: 60px;
  }

  #welcome{
    padding:0;
    margin: 100px 40px 20px 20px;
    width: 100%;
    height: 75%;
    text-align: center;
  }

  .subtitle{
    font-size: 50px;
  }

  h4{
    font-size: 30px;
  }

  #name{
    margin: 10px;
    border-radius: 5%;
    width: 250px;
    height: 30px;
  }

  #btn{
    border-radius: 2%;
    width: 100px;
    height: 30px;
    background-color: #46033e;
    color: #fff
  }

  .enter{

    padding:0;
    margin: 40px 40px;
    width: 100%;
    height: 75%;
    text-align: center;
  } 

   #category, #idModal{
  display: none;
}

h1, h2, h3, h4, p{
  font-family: 'Oswald', sans-serif;

}

p{
  font-size: 15px;
}

.modal-header, .modal-footer{

  background-color: #46033e;
  color: white;

}

.container-fluid{
  flex-flow: row wrap;
  display: flex;
  justify-content: space-evenly;
  
}

.card-with-modal{
  padding-top: 50px;
  margin: 20px;
  width: 400px;
}

.type .short{
    display: block;
    background: transparent;
     border: none;
     font-size: 14px;
     height: 30px;
     padding: 5px;
     width: 250px;
}

aside{
  margin: 130px 0 0 0;
  display: flex;
    flex-direction:row;
    flex-wrap:wrap;
}

.username{
  padding-top:50px;
  width: 100%;
  text-align: center;

}

.element{
  width: 130px;
  height: 130px;
}


footer{
  background-color: #46033e;
  position: fixed;
  padding: 0px;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #fff;

}
 

 